<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Me</title>
  </head>
  <body>
    <h1><center><%= username %></center></h1>
    <div>
      <p>My Profile</p>
    </div>
    <center>
      <a href = "order-history"><h4>My Order History</h4></a>
      <a href = "payment-info"><h4>My Payment Information</h4></a>
      <a href = "preferred-theatre"><h4>My Preferred Theatre</h4></a>
    </center>
    <form method = "post">
      <center><button type = "submit" formaction = "/back-home">Back</button></center>
    </form>
  </body>
</html>
