<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Preferred Theatre</title>
  </head>
  <body>
    <h1><center>My Preffered Theatres</center></h1>
    <form method = "post">
      PREFERRED THEATRE LIST
      <center><button type = "submit" formaction = "/back-me">Back</button></center>
      <center><button type = "submit" formaction = "/delete-theatre">Delete</button></center>
    </form>
  </body>
</html>
