button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: none;
}
button:hover {
    background-color: green;
}
h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}
h1 {
    color: blue;
}
table {
    margin-left: auto;
    margin-right: auto;
}
html {
    text-align: center;
}
body {
    border-top: solid;
    border-bottom: solid;
    font-family: serif, sans-serif;
    background-color: whitesmoke;
}
a {
    text-decoration: none;

}
